body{
	font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  background-color: #D5D4D4;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

.form {
  background-color: #D5D4D4;
}

.bg-grey{
  background-color: #ADA6A6;
}